body{
    background-color:rgb(145, 145, 214);
    background-image:url(/Img/kisspng-desktop-wallpaper-portable-network-graphics-graphi-rewards-and-recognition-background-3-92-timehd-5bd36f9043d4a1.4895516215405833122778.png);
    background-size: 100%;
    border-radius: 15px;
    height: 260px;   
    padding-right: 10px;
    margin-right: 5px;
}


#title{
    color:darkturquoise;
    font-family:"cambria";
    font-size: 35px;
}
.contatos
{
    background: rgb(21, 133, 197);
    padding: 30px;
    border: 7px solid rgb(28, 102, 151);
    margin: 3px;
    font-size:17px;
}
.Foto{
 background-image: url(/Img/CarlosLosada.png);
 background: rgb(21, 133, 197);
 padding: 7px;
 border:3px solid rgb(28, 102, 151);
 margin: 3px;

}